<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:installLocation="internalOnly"
    package="com.mojang.minecraftpe"
    platformBuildVersionCode="23"
    platformBuildVersionName="6.0-2438415"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- Allows the app to create network sockets and use customised network protocols. The browser and other applications provide means to send data to the Internet, so this permission is not required to send data to the Internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the user to purchase items through Google Play from within this app. -->
    <uses-permission
        android:name="com.android.vending.BILLING" />
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to write the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Allows the app to control the vibrator. -->
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <!-- Allows the app to get the list of accounts known by the phone. This may include any accounts created by applications that you have installed. -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <!-- Allows the app to read data about your contacts stored on your phone. Apps will also have access to the accounts on your phone that have created contacts. This may include any accounts created by apps that you have installed. This permission allows any apps to save your contact data, and malicious apps may share contact data without your knowledge. -->
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    <!-- Allows the app to access the phone features of the device. This permission allows the app to determine the phone number and device IDs, whether a call is active and the remote number connected by a call. -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <!-- Allows apps to accept cloud-to-device messages sent by the app's service. Using this service will incur data usage. Malicious apps could cause excess data usage. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.mojang.minecraftpe.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="com.mojang.minecraftpe.permission.C2D_MESSAGE" />
    <application
		android:debuggable="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon">
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name_short"
            android:name="com.mojang.minecraftpe.MainActivity"
            android:debuggable="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="minecraftpe" />
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="xbox_live_game_invite" />
                <action
                    android:name="xbox_live_achievement_unlock" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="minecraft" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/OnlineidUiTheme"
            android:name="com.microsoft.xbox.idp.ui.AuthFlowActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />
        <activity
            android:theme="@style/OnlineidUiTheme"
            android:name="com.microsoft.xbox.idp.ui.ErrorActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:theme="@style/OnlineidUiTheme"
            android:name="com.microsoft.onlineid.interop.xbox.ui.SignUpActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:theme="@style/OnlineidUiTheme"
            android:name="com.microsoft.onlineid.interop.xbox.ui.SignInErrorActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:theme="@style/OnlineidUiTheme"
            android:name="com.microsoft.onlineid.interop.xbox.ui.XUIDCreationErrorActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:theme="@style/OnlineidUiTheme"
            android:name="com.microsoft.onlineid.interop.xbox.ui.WelcomeActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.microsoft.onlineid.interop.singleaccount.SingleAccountActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action
                    android:name="com.microsoft.onlineid.interop.singleaccount.SingleAccountActivity" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.MSA"
            android:label="@string/webflow_header"
            android:icon="@drawable/msa_ms_logo"
            android:name="com.microsoft.onlineid.authenticator.AccountAddPendingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/Theme.MSA"
            android:name="com.microsoft.onlineid.internal.ui.WebFlowActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/Theme.MSA"
            android:label="@string/webflow_header"
            android:icon="@drawable/msa_ms_logo"
            android:name="com.microsoft.onlineid.ui.AddAccountActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action
                    android:name="com.microsoft.onlineid.internal.ADD_ACCOUNT" />
                <action
                    android:name="com.microsoft.onlineid.internal.SIGN_UP_ACCOUNT" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.MSA.Transparent"
            android:name="com.microsoft.onlineid.ui.SignOutActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize" />
        <activity
            android:theme="@style/Theme.MSA.Dialog"
            android:label="@string/webflow_header"
            android:icon="@drawable/msa_ms_logo"
            android:name="com.microsoft.onlineid.internal.ui.AccountPickerActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action
                    android:name="com.microsoft.onlineid.internal.PICK_ACCOUNT" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.MSA"
            android:label="@string/webflow_header"
            android:icon="@drawable/msa_ms_logo"
            android:name="com.microsoft.onlineid.internal.ui.InterruptResolutionActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|screenLayout" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.microsoft.xboxtcui.FbLoginShimActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.microsoft.xboxtcui.FbShareShimActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize" />
        <meta-data
            android:name="xperiaplayoptimized_content"
            android:resource="@string/xperiaplayoptimized_content" />
        <meta-data
            android:name="game_display_name"
            android:resource="@string/app_name" />
        <meta-data
            android:name="game_icon"
            android:resource="@drawable/iconx" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <uses-library
            android:name="xperiaplaycertified"
            android:required="false" />
        <receiver
            android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"
                    android:windowSoftInputMode="adjustResize" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.microsoft.onlineid.internal.sso.client.BackupService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.microsoft.onlineid.internal.sso.client.PUSH_BACKUP" />
                <action
                    android:name="com.microsoft.onlineid.internal.sso.client.PUSH_BACKUP_IF_NEEDED" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.microsoft.onlineid.internal.MsaService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.microsoft.onlineid.internal.GET_TICKET" />
                <action
                    android:name="com.microsoft.onlineid.internal.UPDATE_PROFILE" />
                <action
                    android:name="com.microsoft.onlineid.internal.SIGN_OUT" />
                <action
                    android:name="com.microsoft.onlineid.internal.SIGN_OUT_ALL_APPS" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.microsoft.onlineid.internal.sso.service.MsaSsoService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.microsoft.msa.action.SSO_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="com.microsoft.msa.service.sso_version"
                android:value="2" />
            <meta-data
                android:name="com.microsoft.msa.service.sdk_version"
                android:value="@string/sdk_version_name" />
        </service>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category
                    android:name="com.mojang.minecraftpe" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.mojang.minecraftpe.NotificationListenerService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.microsoft.xbox.idp.model.gcm.NotificationInstanceIDListenerService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.microsoft.xbox.idp.model.gcm.RegistrationIntentService"
            android:exported="false" />
    </application>
</manifest>